
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  margin: 0 auto;
  display: block;
  }
  
  .button-27:disabled {
  pointer-events: none;
  }
  
  .button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  }
  
  .button-27:active {
  box-shadow: none;
  transform: translateY(0);
  }
  texto {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Playwrite NL Guides", cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 0.3px #ffffff;
  
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900px;
  font-family: "Leckerli One", cursive;
  color: transparent;
  font-size: 7rem;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
    }
    @keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

  body {
    min-height: 100vh;
    background: black;
  
  }
  .header {
    background: transparent;
    position:static;
    top: 0;
    left: 0;
    width: 100% ;
    padding: 30px 100px;
    background: black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  }
  .logo {
    font-size: 50px;
    color: #fffbfb;
    text-decoration: none;
    font-weight: 700;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 200px;
  }
  
  .navbar a{
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.7s;
  
  }
  .navbar :hover{
  transition: 0.3s;
  color: rgb(179, 0, 255);
  text-decoration: none;
  transition: 0.9;
  text-shadow: 2px 3px 5px rgb(140, 0, 255), 0 0 1200px rgb(170, 0, 255), 0 0 125px rgb(140, 0, 255);
  -webkit-text-stroke-color: white;
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .corumn{
    float: left;
    width: 24%;
    padding: 0 10px;
  
  }
  .column {
    width: 33.3%;
    padding: 2 10px;
    flex: 1;
  }
  
  
  .row {margin: 0 -5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  }
  img{
    width: 100%;
    
  }
  .image{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }
  .im{
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .cardo {
  
  
    padding: 10px;
    text-align: center;
    
  }
  .card {
  
  
    padding: 10px;
    text-align: center;
    
  }
  .codepen-button {
    font-family: monospace;
    font-weight: bolder;
    display: block;
    cursor: pointer;
    color: #000;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    width: 230px;
    isolation: isolate;
    transform: scale(0.85);
    text-align: center;
  }
  
  .codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 420%;
    height: 120%;
    background: linear-gradient(
      115deg,
      #628fbc,
      hsl(0, 93%, 73%),
      #f032a7,
      #329af0,
      #f032a7
    );
    background-size: 25% 100%;
    animation: border-animation 0.75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
  }
  
  .codepen-button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
  }
  
  @keyframes border-animation {
    to {
      transform: translateX(-25%);
    }
  }
  
  .codepen-button span {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    background: #000000;
    border-radius: 3px;
    height: 100%;
  }
  
  .codepen-button .span {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  
  .codepen-button .p {
    margin: 0;
  }@media (max-width: 768px) {
    .column {
        flex: 1 1 calc(50% - 1rem); /* 2 columns for medium screens */
    }
  
    .navbar a {
        font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .column {
        flex: 1 1 100%; /* 1 column for small screens */
    }
  
    .header {
        flex-direction: column;
        text-align: center;
    }
  
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        background-color: transparent;
    }
  
    .navbar a {
        margin: 0.5rem;
    }
  
    .logo {
        font-size: 1.5rem;
        text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    }
    .logo:hover {
      color: #bf00ff;
  }
    .texto .centered {
        font-size: 1.5rem;
    }
  }
  .cardo {
    background: #000000;
    border-radius: 15px;
    padding: 1rem;
    transition: transform 0.5s;
    color: #000;
    border-color: #000;
  }
  
  .cardo:hover {
    transform: scale(1.05);
  }
  
  .cardo img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    border-color: #000;
  }
  .cardo img
  
  .cardo h2 {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .cardo h3 {
    font-size: 4rem;
    color: #fff6f6;
  }
  .cardo h3 :hover{
  transition: 0.3s;
  color: rgb(179, 0, 255);
  text-decoration: none;
  transition: 0.9;
  text-shadow: 2px 3px 5px rgb(140, 0, 255), 0 0 1200px rgb(170, 0, 255), 0 0 125px rgb(140, 0, 255);
  -webkit-text-stroke-color: white;
  
  }
  
  
  .card {
    margin-top: 100px;
    background: #000000;
    border-radius: 8px;
  
    padding: 10rem;
    transition: transform 0.3s;
    color: #000;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 100px;
  }
  
  .card h2 {
    font-size: 1.5rem;
    color: #000000;
  }
  
  .card h3 {
    font-size: 1rem;
    color: #ffffff;
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .column {
        flex: 1 1 calc(50% - 1rem); /* 2 columns for medium screens */
    }
  } #nav {
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0px;
  }
  #nav-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: left;
  }
  #nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  #nav ul li {
    display: inline-block;
  }
  #nav ul li:hover {
    background-color: #000000;
  }
  #nav ul li a,
  visited {
    display: block;
    padding: 15px;
    color: #000000;
    text-decoration: none;
  }
  footer {
    background-color: #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
  }
  
  footer .social-icons {
    margin: 10px 0;
  }
  
  footer .social-icons a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0 15px;
    transition: transform 0.3s ease;
  }
  
  footer .social-icons a:hover {
    transform: scale(1.2);
  }
  
  footer p a {
    color: white;
    text-decoration: none;
  }
  footer p i {
    color: white;
    margin-right: 8px;
  }
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: rgb(0, 0, 0);
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .carousel-inner img {
    width: 100%;
    height: 840px;
    box-shadow: #000 2px 15px 20px;
    background-color: #000;
  }
  .th{
    color: white;
    transition: 0.4s;
  }
  .th:hover {
    color: rgb(255, 0, 0);
    }
  .btnt{
    width: 9em;
    height: 3em;
    border-radius:5em ;
    font-size: 15px;
    background-color: #000000;
    color: white;
    border-color: rgb(251, 255, 0);
    font-weight: 1000;
    font-size: large ;
  
  }
  .kutu a{
    font-size: 55px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.7s;
  
  }
  .kutu :hover{
  transition: 0.3s;
  color: rgb(179, 0, 255);
  text-decoration: none;
  transition: 0.9;
  text-shadow: 1px 1px 2px rgb(140, 0, 255), 0 0 25px rgb(170, 0, 255), 0 0 5px rgb(140, 0, 255);
  -webkit-text-stroke: 0.3px #ffffff;
  
  }
  
  .kutuna a{
    font-size: 65px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.7s;
    -webkit-text-stroke: 3px #000000;
  }
  .kutuna :hover{
  transition: 0.5s;
  color: rgb(179, 0, 255);
  text-decoration: none;
  transition: 0.9;
  text-shadow: 1px 1px 2px rgb(140, 0, 255), 0 0 25px rgb(170, 0, 255), 0 0 5px rgb(140, 0, 255);
  -webkit-text-stroke: 2px #ffffff;
}
.containerr {
  position: relative;
  text-align: center;
  color: white;
}
.centeredd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
    font-family: "Leckerli One", cursive;
  
}
.centerrr {
  text-align: center;
}

.pagination {
  margin-top: 200px;
  margin-left: 185%;
  display: inline-block;
  align-items: center;
}

.pagination a {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #8800ff;
  color: white;
  border: 1px solid #cc00ff;
}

.pagination a:hover:not(.active) {background-color: #ffffff;}